.allCells {
  height:150px;
  width:150px;
  border:black solid 2px
}

.main {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center
}

h1 {
  width: 1000px;
  text-align:center;
}
