.allCells {
  height:105px;
  width:105px;
  background-color:blue;
  border:black 0.1px dotted
}

body {
  margin: 0px;
}
.main {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: center
}

h1 {
  width: 800px;
  text-align:center;
}
